@font-face {
  font-family: 'apier';
  src: url('../fonts/apier_iconfont.ttf'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.apier,.apiplus {
  font-family: 'apier' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.api-more:before {
  content: "\e7ce";
}

.api-folder_open:before {
  content: "\e7cf";
}

.api-settings_icon:before {
  content: "\e7d5";
}

.api-share:before {
  content: "\e7d8";
}

.api-folder:before {
  content: "\e7d9";
}

.api-new:before {
  content: "\e7da";
}

.api-search:before {
  content: "\e7db";
}

.api-downarrow_exp:before {
  content: "\e7dc";
}

.api-downarrow:before {
  content: "\e7dd";
}

.api-temp:before {
  content: "\e7de";
}

.api-arrow:before {
  content: "\e7df";
}

.api-checkbox_checked:before {
  content: "\e7e0";
}

.api-checkbox:before {
  content: "\e7e1";
}

.api-close:before {
  content: "\e7e2";
}

.api-tab-prev:before {
  content: "\e7e3";
}

.api-tab-close:before {
  content: "\e7e4";
}

.api-tab-next:before {
  content: "\e7e5";
}

.api-tab-add:before {
  content: "\e7e6";
}

.api-tab-modal-close:before {
  content: "\e7e8";
}

.api-gmail:before {
  content: "\e7e9";
}

.api-github:before {
  content: "\e7ea";
}

.api-more_ver:before {
  content: "\e7eb";
}

.api-maxmize-maxed:before {
  content: "\e7ec";
}

.api-pin:before {
  content: "\e7ed";
}

.api-win-close:before {
  content: "\e7ee";
}

.api-minmize:before {
  content: "\e7ef";
}

.api-maxmize:before {
  content: "\e7f0";
}

.api-password:before {
  content: "\e7f1";
}

.api-email:before {
  content: "\e7f2";
}

.api-ok:before {
  content: "\e7f3";
}

.api-pane_icon:before {
  content: "\e7f4";
}

.api-shortcuts_icon:before {
  content: "\e7f6";
}

.api-pane-vertical_icon:before {
  content: "\e7f5";
}

.api-tab-bullet:before {
  content: "\e7f7";
}

.api-sidebar_icon:before {
  content: "\e7f9";
}

.api-paster_icon:before {
  content: "\e7f8";
}

.api-collapse_hor:before {
  content: "\e7fa";
}

.api-collapse:before {
  content: "\e7fb";
}

.api-check:before {
  content: "\e7fc";
}

.api-config:before {
  content: "\e7fd";
}

.api-desc:before {
  content: "\e7fe";
}

.api-pined:before {
  content: "\e7ff";
}

.api-support:before {
  content: "\e800";
}

.api-delete:before {
  content: "\e801";
}

.api-coll_ver:before {
  content: "\e802";
}

.api-push:before {
  content: "\e803";
}

.api-coll_hor:before {
  content: "\e804";
}

.api-create:before {
  content: "\e805";
}

.api-rescol:before {
  content: "\e807";
}

.api-rescol-vertical:before {
  content: "\e808";
}

.api-right:before {
  content: "\e80d";
}

.api-wrong:before {
  content: "\e80e";
}

.api-pull_icon:before {
  content: "\e80f";
}

.api-star:before {
  content: "\e812";
}

.api-reset:before {
  content: "\e813";
}

.api-duplicate:before {
  content: "\e814";
}

.api-new_folder:before {
  content: "\e816";
}

.api-dashboard:before {
  content: "\e81b";
}

.api-doc:before {
  content: "\e81c";
}